/* EVENTS */

#events {
    border: 1.5px solid darkslategrey;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events_main_content {
    background-color: darkslategrey;
    color: white;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

/* PAST EVENTS */

.past-events {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    };
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    
    @media (min-width: 768px) {
        justify-content: center;
    };
}

.event_image {
    width: 250px;
    height: 150px;
    padding-inline: 1rem;
    object-fit: cover;
}

.image_caption {
    color: darkslategrey;
    padding: 1rem;

    @media (min-width: 768px) {
        padding: 0.5rem;
    };
}

.event:hover {
    opacity: 0.8;
}

/* COMING SOON */

.next_event {
    margin-top: 1.5rem;
    width: 100%;
}

.coming_soon_title {
    color: white;
    background-color: darkslategrey;
    padding-block: 0.5rem;
    margin-bottom: 1rem;
}

.next_event_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.event_info {
    color: darkslategrey;
    padding-inline: 3rem;
}

.date_location {
    font-weight: bolder;
    margin-block: 0.5rem;
}